.sidebar {
    background-color: black;
    grid-column: side-start/side-end;
    grid-row: 1/-1;
}

.btn-side {
    font-size: 1.6rem;
    margin-top: 4rem;
    padding: 1.2rem 2rem 1.2rem 1rem;
    background-color: #0a1624e3;
    font-weight: 600;
    color: wheat;


}