$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito',
sans-serif;
$font-display: 'Josefin Sans',
sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $color-grey-light-2;
    line-height: 1.6;
    font-family: $font-primary;
    background-color: #101d2c;

}

.container {
    display: grid;
    grid-template-rows: [row-start] 80vh [row-end row-1] min-content [row-1 row-2] 38vw[row-end] repeat(3, [row-s] min-content[row-e]);
    grid-template-columns: [side-start] 8rem [side-end v-start] minmax(6rem, 1fr) [v-end] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [v-ls] minmax(6rem, 1fr)[v-le];
    row-gap: 3rem;
}